// Foundations
@use 'foundations/variables';
@use 'foundations/functions';
@use 'foundations/mixins';
@use 'foundations/normalize';

// Base
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $fontTextFamily;
}

ul {
    list-style: none;
}